/* regole generali */
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-image: url(../img/sfondo.png);
}
.container {
  width: 80%;
  margin: 0 auto;
}

.titoletti {
  font-size: 30px;
  color: grey;
  text-align: center;
}

.textrule {
  padding: 10px 0px 10px 7px;
}


/*  header */
header {
  width: 100%;
  height: 300px;
  background-image: url(../img/bannerheader.jpg);
  border: 6px solid white;
  position: relative;
}

.maintitle{
  position:absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  font-size: 3em;
  color: white;
  border: 3px solid white;
  padding: 5px;
}

.subtitle {
  position:absolute;
  left: 50%;
  top: 80%;
  transform: translate(-50%,-50%);
  font-size: 2em;
  color: white;
}

/* barra di navigazione */
#navigationbar {
  background-color: grey;
  text-align: center;
  margin-bottom: 10px;
}

.menu a {
  text-decoration: none;
  color: white;
  font-weight:  500;
 }

.menu li {
  display: inline-block;
  padding: 10px 8px;
}

.menu li:hover {
  background-color: rgba(255, 0, 0, 0.5);
}

/* regole corpo centrale */

/* clearfix */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* colonna sinistra */

.widget-sinistro {
  float: left;
  width: 20%;
  background-color: white;
  border-radius: 5px;
}
/* regole logo rss */
.rssfeedlogo {
  background-image: url(../img/rss-icon.png);
  background-size: contain;
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-top: 5px;
  margin-left: 7px;
  float: left;
}
/* regole paragrafetti colonna sx */


.left-hyperlink a {
  text-decoration: none;
  color: green;
  font-weight: bold;
}

/*  regole colonna centrale */

.corpo-centrale {
  width: 50%;
  float: left;
  margin: 0 5%;
  background-color: white;
  border-radius: 5px;
}

.corpo-centrale .titoletti {
  text-align: left;
  text-shadow: 2px 2px 2px black;
}

/* regole colonna destra */

.widget-destro {
  float: right;
  width: 20%;
}

.articoli {
  background-color: white;
  border-radius: 5px;
  margin-bottom: 20px;
}


/* regole footer */

footer {
  width: 100%;
  height: 100px;
  background-color: white;
  border-radius: 5px;
  position: relative;
}

.credits {
  color: lightgrey;
  text-align: center;
  border-bottom: 1px solid lightgrey;
  padding-top: 5px;
  margin: 0px 6px;
}
/* regole icone footer */
.fa-facebook-square {
  display: inline-block;
  position: absolute;
  left: 20%;
  top: 50%;
  font-size: 2em;
  color: lightgrey;
}

.fa-instagram {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 0);
  font-size: 2em;
  color: lightgrey;
}

.fa-github {
  display: inline-block;
  position: absolute;
  right: 20%;
  top: 50%;
  font-size: 2em;
  color: lightgrey;
}
